

.features__container {
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     padding: 20px;
     gap: 22px;
   background-color: white;
}

/* Карточки */
.features__card{
     width: 90%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: #040029;
     gap: 22px;
     padding: 20px;
     border-radius: 20px;

     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.features__ad-card {
     width: 90%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: white;
     gap: 22px;
     padding: 20px;
     border-radius: 20px;
   
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.features__card:hover,
.features__ad-card:hover {
     transform: translateY(-5px);
     /* Меньший сдвиг */
     box-shadow: 0 4px 5px rgba(174, 187, 255, 0.3);
     /* Легкая тень с меньшей интенсивностью */
     transition: transform 0.2s ease, box-shadow 0.2s ease;
     /* Плавный переход */
}
/* Заголовки */
.features__card>p,
.features__ad-card>p {
     color: white;
     font-size: 28px;
     text-align: center;
     animation: pulse 2s infinite;
}

.features__card>p>span,
.features__ad-card>p>span {
     color: #4DEA03;
     font-weight: bold;
}

/* Анимация заголовка */
@keyframes pulse {

     0%,
     100% {
          transform: scale(1);
     }

     50% {
          transform: scale(1.05);
     }
}

/* Кнопки */
.features__btn {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 11px;
}
.features__btn>button {
     width: 160px;
     height: 40px;
     background-color: #f8f8f8;
     /* Нейтральный светлый фон */
     color: #333;
     /* Четкий текст */
     font-weight: 500;
     /* Легкий акцент */
     font-size: 14px;
     /* Стандартный размер */
     border: 1px solid #221246;
     /* Тонкая светлая рамка */
     border-radius: 8px;
     /* Умеренно скругленные углы */
     cursor: pointer;
     transition: background-color 0.2s ease, color 0.2s ease;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 16px;
}

.features__btn>button:hover {
     background-color: #eaeaea;
     /* Легкий эффект при наведении */
     color: #111;
     /* Немного темнее текст */
}

.features__btn>button:active {
     background-color: #ddd;
     /* Четкое изменение при клике */
     color: #000;
     /* Максимальная контрастность текста */
     transform: scale(0.98);
     /* Едва заметное уменьшение */
}

.features__btn>button span {
     font-weight: 500;
     /* Минимализм в стиле */
}
@media (max-width: 480px) {
/* .features__container {
margin-top: 300px;  
} */
.features__ad-card > img {
     width: 250px;
}
.features__btn>button {
     width: 80px;
     height: 35px; }
}